.card__project{
    display:flex;
    width:100%;
    min-height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5855ff;
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    .card__title{
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 1rem;
    }
    .card__image{
        object-fit: cover;
        max-width: 100%;
    }
    &:hover .card__description{
        opacity: 1;
        visibility: visible;
    }
    .card__description{
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
        margin-top: .5rem;
        button{
            color: #fff;
            background: #0f044c;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 1rem;
            font-weight: bold;
            transition: background 0.3s ease-in-out;
            &:hover{
                background: lighten($color:#0f044c, $amount: 20%);
                cursor: pointer;
            }
            svg{
                width: 1.5rem;
                height: 1.5rem;
                // fill: #fff;
            }
        }
    }
}
.card__project:hover{
    box-shadow: 0px 5px 5px #6c6aff;
}

@media screen and (min-width: 768px){
    .card__project{
        width: 350px;
    }
}