.squeleton__card{
    display:flex;
    width:100%;
    min-height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5855ff;
    padding: 10px;
    border-radius: 5px; 
}