.modal__description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  // padding: 1rem;
  .modal__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
  }
  p {
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
  }
  .modal__img {
    object-fit: cover;
    width: 100%;
    // max-width: 550px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 5px 5px #5855ff;
    }
  }
}

.btn__description {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: color 0.3s ease-in-out;
  color: #fff;
  position: absolute;
  top: 50px;
  right: 20px;
  &:hover {
    color: #5855ff;
    cursor: pointer;
  }
  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.modal__technologies {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 10px;
}

.content__buttons {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  .btn__repo {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    background: #5855ff;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    &:hover {
      background: #2209ad;
      color: #fff;
    }
  }
}

.modal__slider {
  width: calc(100% - 3rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  cursor: grab;
}

@media screen and (min-width: 768px) {
  .content__buttons {
    margin-top: 40px;
  }
  .modal__description {
    width: calc(100% - 3rem);
    .modal__title {
      font-size: 2.5rem;
    }
    .modal__img {
      width: 500px;
      height: 260px;
      object-fit: cover;
      max-width: 500px;
    }
  }
  .modal__slider {
    width: 100%;
  }
}

// mediaquery portrait
@media screen and (orientation: landscape) and (max-width: 940px) {
  .modal__description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    .modal__title {
      font-size: 1.8rem;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
  .modal__technologies {
    grid-column: 1 / 2;
  }
  .modal__slider {
    grid-column: 2 / 3;
    // width: fit-content;
  }
  .content__buttons {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .modal__slider {
    grid-row: 2/5;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background: #5855ff;
  border-radius: 50%;
  padding: 0.7rem 1.1rem;
  transition: background 0.3s ease-in-out;
  &:hover {
    background: #2209ad;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0.6rem;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 1rem 1.5rem;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 2rem;
  }
}
