.chip{
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: 500;
    transition: transform 0.3s ease-in-out,opacity 0.3s ease-in-out;
    &:hover{
        cursor: pointer;
        // transform: scale(1.1);
        opacity: 0.8;
    }
}