.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 60px;
    background: #222327;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
}

.toggle span{
    position: absolute;
    width: 30px;
    height: 4px;
    background: #1863ff;
    border-radius:4px;
    transition: 0.5s;
}

.toggle span:nth-child(1){
    transform: translateY(-15px);
    width: 22px;
    left: 15px;
}
.toggle span:nth-child(2){
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}
.toggle.active span:nth-child(3){
    transform: translateX(60px);
}
.toggle.active span:nth-child(1){
    width: 30px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}
.toggle.active span:nth-child(2){
    width: 30px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}

@media screen and (min-width: 768px){
    .toggle{
        display: none;
    }
}