.animate__icon{
    width: 300px;
    height: 300px;
    path{
        fill: transparent;
        stroke:#fff;
        stroke-dasharray: 3000;
        stroke-dashoffset: 3000;
        animation: dash 5s infinite alternate-reverse;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 0;
    }
    // 100% {
    //     stroke-dashoffset: 0;
    // }
  }